<% wrap_layout :layout do %>

<div class="content-top-spacing"></div>

<div class="row">
  <div class="large-12 columns">
    <h2 align="center"><%= current_page.title %></h2>
    <p align="center">
      Written by James Stone <time class="timeago published" datetime="<%= Time.parse("#{current_page.date.strftime('%B %e, %Y')} #{current_page.data.time}").to_time.iso8601 %>"><%= Time.parse("#{current_page.date.strftime('%B %e, %Y')} #{current_page.data.time}").strftime('%B %e, %Y %I:%M %p') %></time>

    </p>
  </div>
</div>

<div class="row">
  <div class="large-8 large-centered columns">
    <div class="entry-content">
      <% test_featured_image = current_page.data.featured_image %>
      <% if ( defined?(test_featured_image)) %>
        <div class="row">
          <div class="small-12 medium-8 medium-centered large-12 columns">
            <p><img src="<%= current_page.data.featured_image %>"></p>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>

<% permalink_url = "http://www.manofstone.com#{current_page.url}" %>

<div class="row">
<div class="small-12 medium-5 large-5 small-centered columns blog-social">
    <ul class="social-buttons cf">
        <li>
            <a href="http://twitter.com/share" class="socialite twitter-share" data-text="<%= URI.encode(current_page.title) %>" data-url="<%= permalink_url %>" data-count="vertical" rel="nofollow" target="_blank"><span class="vhidden">Share on Twitter</span></a>
        </li>
        <li>
            <a href="https://plus.google.com/share?url=<%= permalink_url %>" class="socialite googleplus-one" data-size="tall" data-href="<%= permalink_url %>" rel="nofollow" target="_blank"><span class="vhidden">Share on Google+</span></a>
        </li>
        <li>
            <a href="http://www.facebook.com/sharer.php?u=<%= permalink_url %>&t=<%= URI.encode(current_page.title) %>" class="socialite facebook-like" data-href="<%= permalink_url %>" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank"><span class="vhidden">Share on Facebook</span></a>
        </li>
        <li>
            <a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= permalink_url %>&title=<%= URI.encode(current_page.title) %>" class="socialite linkedin-share" data-url="<%= permalink_url %>" data-counter="top" rel="nofollow" target="_blank"><span class="vhidden">Share on LinkedIn</span></a>
        </li>
    </ul>
  </div>
</div>

<% test_signup_zurb = current_page.data.signup_zurb %>
<% if ( defined?(test_signup_zurb) and test_signup_zurb == "true") %>
  <%= partial "zurbsignup" %>
<% else %>
  <%= partial "emailsignup" %>
<% end %>

<div class="row">
  <div class="large-8 large-centered columns">
    <!-- comments -->
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'manofstone';
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</div>

<% end %>
