<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <% test_canonical = current_page.data.canonical %>
    <% if defined?(test_canonical) %>
    <link href="<%= current_page.data.canonical %>" rel="canonical" />
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= current_page.data.title || "James Stone" %></title>
    <% test_seo_desc = current_page.data.seo_desc %>
    <% if defined?(test_seo_desc) %>
    <meta name="description" content="<%= current_page.data.seo_desc %>">
    <% end %>
    <%= stylesheet_link_tag "app" %>
    <%= javascript_include_tag "vendor/modernizr", :defer => "defer" %>
    <meta name="google-site-verification" content="9FUywMd926za9lLIK5X7myny7HYoAF48CHemANB8Zu0" />
  </head>

  <body>


    <%= yield %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" defer></script>

    <%= javascript_include_tag  "application", :defer => "defer" %>

    <%= partial "clickytracking" %>

    <% test_mouseflowtracking = current_page.data.mouseflowtracking %>
    <% if ( defined?(test_mouseflowtracking) and test_mouseflowtracking == "true") %>
      <%= partial "mouseflowtracking" %>
    <% end %>


  </body>
</html>
