

<div id="mos-top-footer">
  <div class="row">

    <div class="medium-3 large-3 columns">
      <h4 class="alt-text">Top Articles</h4>
      <ul class="side-nav">
        <% data.widgets.top_articles.each do | article | %>
          <li><a href="<%= article["url"] %>"><%= article["title"] %></a><li>
        <% end %>
      </ul>
    </div>
    <div class="medium-3 large-3 columns">
      <h4 class="alt-text">Top Videos</h4>
      <ul class="side-nav">
        <% data.widgets.top_videos.each do | video | %>
          <li><a href="http://www.youtube.com/watch?v=<%= video["movie"] %>"><%= video["title"] %></a><li>
        <% end %>
      </ul>
    </div>
    <div class="medium-3 large-3 columns">
      <h4 class="alt-text">Products</h4>
      <ul class="side-nav">
        <% data.widgets.products.each do | p | %>
          <li><a href="<%= p["url"] %>"><%= p["title"] %></a><li>
        <% end %>
      </ul>
    </div>
    <div class="medium-3 large-3 columns">
      <h4 class="alt-text">Get Updates</h4>
      <ul class="side-nav">
      <li><a href="/updates">Subscribe to my Newsletter</a></li>
        <li><a href="http://www.youtube.com/user/JamesManOfStone?sub_confirmation=1">Subscribe to my YouTube Channel</a></li>
        <li><a href="https://twitter.com/intent/user?screen_name=manofstone">Follow and Interact with me on Twitter</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 large-12 columns">
      <p class="text-center"><small>Copyright 2014, James Stone, All Rights Reserved.</small></p>

    </div>
  </div>
</div>

<div id="mos-footer">
  <div class="row">
    <div class="medium-3 large-3 columns">
      <h4 class="alt-text text-right">ManOfStone.com</h4>
    </div>
    <div class="medium-5 large-5 columns hide-for-small">
      <ul class="inline-list" id="mos-footer-nav">

        <li><a href="/">Home</a></li>
        <li><a href="http://www.youtube.com/user/JamesManOfStone?sub_confirmation=1">Videos</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/updates">Updates</a></li>
      </ul>
    </div>
    <div class="medium-4 large-4 columns hide-for-small">
      <ul class="inline-list" id="mos-footer-social-nav">
        <li><a href="http://feeds.feedburner.com/jamesmanofstone" rel="alternate" type="application/rss+xml"><i class="fi-rss"></i></a></li>
        <li><a href="http://www.twitter.com/manofstone"><i class="fi-social-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/JamesStoneAuthor"><i class="fi-social-facebook"></i></a></li>
        <li><a href="https://plus.google.com/+JamesStoneAuthorSpeakerDeveloperMediaArtist?rel=author"><i class="fi-social-google-plus"></i></a></li>
        <li><a href="https://github.com/manofstone"><i class="fi-social-github"></i></a></li>
        <li><a href="http://stackoverflow.com/users/1560583"><i class="fi-social-stack-overflow"></i></a></li>
        <li><a href="http://www.linkedin.com/in/manofstone"><i class="fi-social-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="row hide-for-small">
    <div class="medium-12 large-12 columns">
    <p>&nbsp;</p>
    </div>
  </div>
</div>



<h2 class="text-center social-icons hide-for-medium-up">
<a href="http://feeds.feedburner.com/jamesmanofstone" rel="alternate" type="application/rss+xml"><i class="fi-rss"></i></a>
<a href="http://www.twitter.com/manofstone"><i class="fi-social-twitter"></i></a>
<a href="https://www.facebook.com/JamesStoneAuthor"><i class="fi-social-facebook"></i></a>
<a href="https://plus.google.com/+JamesStoneAuthorSpeakerDeveloperMediaArtist?rel=author"><i class="fi-social-google-plus"></i></a>
<a href="https://github.com/manofstone"><i class="fi-social-github"></i></a>
<a href="http://stackoverflow.com/users/1560583"><i class="fi-social-stack-overflow"></i></a>
<a href="http://www.linkedin.com/in/manofstone"><i class="fi-social-linkedin"></i></a>

</h2>

<div style="clear: both;"></div>

    </section><!-- close the off-canvas menu -->
    <a class="exit-off-canvas"></a>
  </div>
</div>