---
title: "James Stone: Author, Speaker, Developer and Media Artist"
seo_desc: James Stone is an Author, Speaker, Developer and Media Artist. He taught game and creative coding at Penn State and served as faculty for Eyebeam.
pageable: true
per_page: 4
active_nav: home
---



<div id="mos-header">

  <div class="row">
    <div class="small-12 columns">
      <h2 class="alt-text">Is Responsive Web Design the Future? <small class="alt-text">You bet it is. </small></h2>

      <div class="row">
        <div class="large-8 columns">

          <p class="alt-text">If you want to learn responsive design and fast, iterative prototyping, look no further. I produce books, screencasts, articles and courses to show you how to approach modern responsive web development and design. I will show you the very same workflow and tools that I use on a daily basis.</p>
          <p class="alt-text">I work with ZURB Foundation, Meteor and Ruby.</p>
          <p class="alt-text">Learn from my mistakes and gain insight and knowledge about best practices and approaches that can help you to refine your own toolset, workflow and projects.</p>

          <div class="row">
            <div class="small-4 columns">
              <p><a href="about"><img src="images/headshot-james-circle-retina.png" alt="James Stone"></a></p>
            </div>
            <div class="small-8 columns">
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p class="alt-text">&mdash;James Stone<br>Author of ZURB Foundation Blueprints</p>
            </div>
          </div>

        </div>

        <div class="large-4 columns">
          <p>&nbsp;</p>
          <div class="panel secondary radius">
            <h4>Quick Start Guide</h4>
            <ul class="no-bullet">
            <% data.widgets.quick_start.each do | q | %>
              <li><a href="<%= q["url"] %>"><%= q["title"] %></a><li>
                <% end %>

              </ul>
            </div>   
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="content-top-spacing"></div>



  <div class="row">
    <div class="large-12 columns">
      <h2>Recent Articles</h2>
      <% page_articles.each_slice(2) do | row | %>
      <div class="row">
        <% row.each do |article| %>
        <div class="medium-6 large-6 columns">
          <div class="panel">
            <% test_featured_image = article.data.featured_image %>
            <% if ( defined?(test_featured_image)) %>
            <p><a href="<%= article.url %>"><img src="<%= article.data.featured_image %>"></a></p>
            <% end %>
            <h4 class="entry-title"><%= link_to article.title, article %></h4>
            <p><time class="timeago published" datetime="<%= Time.parse("#{article.date.strftime('%B %e, %Y')} #{article.data.time}").to_time.iso8601 %>"><%= Time.parse("#{article.date.strftime('%B %e, %Y')} #{article.data.time}").strftime('%B %e, %Y %I:%M %p') %></time></p>
            <p class="entry-summary"><%= strip_html(article.summary(125)) %></p>
            <%= link_to "Read more &raquo;", article, :class => "button secondary expand" %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns end"><a href="/blog">&laquo; Previous Articles</a></div>
  </div>


  <div class="row"> <div class="large-12 columns"> <p>&nbsp;</p> </div> </div>

  <div id="products-banner">
    <div class="row">
      <div class="small-12 columns">
        <h2 class="alt-text">Subscribe for Updates <small class="alt-text">Get free and fresh content as soon as it is published.</small></h2>
        <%= partial "thinemailsignup" %>
      </div>
    </div>
  </div>

  <div id="videos-banner">
    <div class="row">
      <div class="small-12">
        <h2 class="alt-text">Recent Videos</h2>

        <div class="row">

          <% data.widgets.recent_videos.each do | v | %>
          <div class="large-4 columns end">
            <div class="flex-video widescreen">
              <a href="http://www.youtube.com/watch?v=<%= v["movie"] %>"><img src="http://img.youtube.com/vi/<%= v["movie"] %>/mqdefault.jpg" alt=""></a>
            </div>
            <p><a href="http://www.youtube.com/watch?v=<%= v["movie"] %>"><%= v["title"] %></a></p>
          </div>

          <% end %>
        </div>

        <script src="https://apis.google.com/js/platform.js" defer></script>
        <div class="g-ytsubscribe" data-channel="JamesManOfStone" data-layout="default" data-theme="dark" data-count="default"></div>


      </div>
    </div>
  </div>

  <div class="row"><div class="large-12 columns"><p>&nbsp;</p></div></div>

  <div class="row">
    <div class="large-12 columns">
      <h2>Recent Comments</h2>
        <div class="wrapper">
        <div id="recentcomments" class="dsq-widget"><script type="text/javascript" src="http://manofstone.disqus.com/recent_comments_widget.js?num_items=10&hide_avatars=0&avatar_size=64&excerpt_length=255"></script></div>
        </div>
    </div>
  </div>

  <div class="row"><div class="large-12 columns"><p>&nbsp;</p></div></div>
